In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will
be mathematical operators.
*,'hello', -87.8,-,/,+,6

In [ ]:
Expressions: *,-,/,+
values: 'hello', 87.8, 6

In [ ]:
2. What is the difference between string and variable?

In [ ]:
Ans: A Variable is used to store of information, and a String is a type of information you would store in a Variable. 
A String is a group of characters or a single character usually enclosed in Double quotes " " or single quotes ' '

In [ ]:
3. Describe three different Data Types ?

In [ ]:
int , float and complex are 3 data type
int - holds signed integers of non-limited length.eg 123
float - holds floating decimal points and it's accurate up to 15 decimal places.eg 12.00
complex - holds complex numbers.eg 22+j

In [ ]:
4. What is an expression made up of? What do all expressions do?

In [ ]:
A combination of operands and operators is called an expression. The expression in Python produces some value or result after
being interpreted by the Python interpreter. An expression in Python is a combination of operators and operands.

In [ ]:
5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
Ans:Expressions can be assigned or used as operands, while statements can only be declared. Statements create side effects to
be useful, while expressions are values or execute to values. Expressions are unique in meaning, while statements are two-sided
in execution.

In [ ]:
6.After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [ ]:
Ans: The variable bacon is set to 22 .The expression bacon + 1 does not reassign the value in bacon (that would the case if the expression is like bacon = bacon + 1 instead of bacon + 1)

# Example Case#1
bacon=22
bacon+1
print(bacon)
22
#Example Case#2
bacon=22
bacon=bacon+1 
print(bacon)

In [ ]:
7.What should the values of the following two terms be?
'spam'+'spamspam'
'spam'*3

In [ ]:
'spam'+'spamspam'
'spam'*3

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
Ans:as per the python convention variable name should not start with number.

In [1]:
egg="hello world"
100="HELLO WORLD"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2675123700.py, line 2)

In [ ]:
9.What three functions can be used to get the integer,floating-point number,or string version of a value?
ans:int(),float(),str() are the three function to get integer,float and string value respectively

In [2]:
A=int(10),float(10),str("ten")

In [4]:
A

(10, 10.0, 'ten')

In [ ]:
10.Why does this expression cause an error? how can you fix it?
'I have eaten ' + 99 + 'burritos.'
ans: addition of the string and integer is not allowed , hence this expression couse error. to fix this we need to conver 99 into 
string .

In [1]:
'I have eaten ' + '99 ' + 'burritos.'

'I have eaten 99 burritos.'