In [ ]:
 Name - AKSHAY PATIL
 BATCH - 17  SEP 2022
 ASSIGNMENT NUMBER- 1

In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
"hello"
-87.8
-
/
+
6

In [ ]:
ans:
values :
 string -"hello"
 integer - -87.8 , 6
    
Mathematical expression :
    multiplication =  " * "
    substraction   =  " - "
    division       =  " / "
    addition       =  " + "

In [ ]:
2. What is the difference between string and variable?
ans:
string = string is value that put in double or single qouet
variable = in variable we can store a data like string , integer or sets , list , tuple.
we can fetch the data by calling varible

In [ ]:
3. Describe three different data types.
ans:
 a. numeric data type - in numeric data type we have 3 kind of data like integer (1,2) , float (12.23) , complex (2+7j)
 b. sequence data type  -
         list  - use to store multiple values in single variable. list are mutable and order with index  eg. x=[1,2,3,4,5]
         tuple - tuples are immutable in nature  , can contain duplicate values x=(1,2,3,4,5 ,5)
         set - set are collection of unique items x= {1,2,3,4,5,6}
 c. boolean - boolen is a data type which contain only two value : TRUE OR FALSE

In [ ]:
4. What is an expression made up of? What do all expressions do?

ANS: A valid combination of operator ,variable, identifier etc in python is called an expression.
     there are many types of expression like
     Arithematic expression -expression wich involve integer,floats,complex and arithematic operators eg. 5+2 ,2*3, 4/2
     string expression -two types of string expression Concatenation and Replication. eg "ineuron" + " bootcamp 2.0 " , "python" * 2
     relational expresion - an expression with  relational operator are called relational expression eg. 1 > 4 , 4<7 
     logical expression - when expression use or, and and not operator

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Expressions are unique in meaning, while statements are two-sided in execution. For example, 1 has a certain value while go( ) may be executed or not.

Statements are the whole structure, while expressions are the building blocks. For example, a line or a block of code is a statement.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon = 22
bacon + 1

23

In [ ]:
explantion - bacon is the varible ,which hold the integer value of 22. with arithamtic addition operator it perform addition operation

In [ ]:
7. What should the values of the following two terms be?
spam + spamspam
spam* 3

In [3]:
'spam' +' spamspam' #  Here concatenation of two string perform

'spam spamspam'

In [5]:
'spam' * 3    #Here  Replication of two string perform. which multiply the string

'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?
variable name should not start with number

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
int() ,

In [1]:
a = 10/3

In [9]:
int(a)

3

In [10]:
float(a)

3.3333333333333335

In [3]:
str(a)

'3.3333333333333335'

In [ ]:
10. Why does this expression cause an error? How can you fix it?
I have eaten + 99 +  burritos.

In [13]:
I have eaten + 99 +  burritos.

SyntaxError: invalid syntax (1720760071.py, line 1)

In [ ]:
syntax error. concatenation of string and integer not allowed